<section id="avaliacoes" class="mt-5 px-5">
  <h2 class="text-light mb-3">Avaliações</h2>
  <form
    id="caixa-avaliacao"
    class="input-group <%= avaliacaoEditar || (avaliacoes.filter(av => av.id_usuario === id_usuario).length === 0) ? '' : 'd-none' %>"
  >
    <textarea
      id="input-avaliacao"
      rows="5"
      placeholder="<%= avaliacaoEditar ? 'Editar avaliação' : 'Escrever avaliação' %>"
      class="form-control"
      value="<%= avaliacaoEditar ? avaliacaoEditar.texto : '' %>"
    ></textarea>

    <div class="px-3">
      <label for="nota-avaliacao" class="form-label fw-bold">Nota:</label>
      <input
        id="nota-avaliacao"
        type="number"
        max="5"
        min="1"
        value="<%= avaliacaoEditar ? avaliacaoEditar.nota : 3 %>"
        class="form-control"
      />

      <button
        type="button"
        onclick="enviarAvaliacao()"
        class="btn btn-outline-success mt-4 d-block w-100"
      >
        <i>Enviar</i>
      </button>
    </div>
  </form>

  <ul id="filme-avaliacoes" class="list-group">
    <% if (!avaliacoes || avaliacoes.length === 0) { %>
    <p>Nenhuma avaliação</p>
    <% } %>
    <br />
    <% avaliacoes.forEach((avaliacao)=> { %>
    <li
      class="list-group-item bg-transparent text-light border-bottom border-light-subtle"
    >
      <div class="d-block">
        <small class="d-inline-block">
          Nota: <%= avaliacao.nota %> | <%= avaliacao.nome_usuario %>: <% if
          (avaliacao.id_usuario === id_usuario) { %>
          <a
            role="button"
            class="link-light d-inline-block ms-2"
            href="/filmes/<%=filme.id%>?editar=true"
            >Editar</a
          >
          <% } %>
        </small>
        <p class="d-block m-0"><%= avaliacao.texto %></p>
      </div>

      <span class="d-block">
        <svg
          width="20px"
          height="20px"
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <%= avaliacao.curtidas %> curtidas
      </span>
      <% avaliacao.comentarios.forEach((comentario)=> { %>
      <ul class="list-group mt-3 ms-4">
        <li class="list-group-item bg-dark text-light">
          <p class="mb-0">
            <span class="fw-bold badge text-bg-primary"
              ><%= comentario.nome_usuario %>:</span
            >
            <%= comentario.texto %>
          </p>
        </li>
      </ul>
      <% }) %>
    </li>
    <hr />
    <% }) %>
  </ul>
</section>
<script>
  var id_filme = `<%= JSON.stringify(filme.id)  %>`;
  function enviarAvaliacao() {
    const caixaAvaliacao = document.getElementById("caixa-avaliacao").value;
    const texto = document.getElementById("input-avaliacao").value;
    const nota = document.getElementById("nota-avaliacao").value;
    const body = {
      texto: texto,
      nota: Number(nota),
      id_filme: id_filme,
    };

    fetch("/avaliacao/escrever", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(body),
    }).then((res) => {
      console.log("Request complete! response:", res);
      window.location.href = "/filmes/" + id_filme;
    });
  }
</script>

<style>
  #avaliacoes {
    margin: 0 200px 0 300px;
  }
  #caixa-avaliacao {
    display: flex;
  }
  #input-avaliacao {
    flex-grow: 1;
    background-color: #14181c;
    color: white;
  }
</style>
