<%- include('../partials/head') %> <%- include('../partials/header') %>

<body id="pagina-filme">
  <main id="filme-main" class="d-flex px-5 text-light">
    <img class="pagina-filme-img" src="/images/<%=filme.banner%>" />
    <div class="ms-5">
      <h1>
        <%= filme.nome %>
        <span class="text-muted fw-light">
          <%= filme.ano_lancamento.getFullYear() %>
        </span>
      </h1>
      <span class="badge bg-light text-dark mb-3">
        <%= filme.nome_diretor %>
      </span>

      <p><%= filme.sinopse %></p>
    </div>
  </main>
  <%- include('../partials/avaliacoes', {filme: filme, avaliacoes: avaliacoes,
  id_usuario: id_usuario, avaliacaoEditar: avaliacaoEditar}) %>
</body>
<%- include('../partials/footer') %>

<style>
  #pagina-filme {
    color: white;
  }
  .pagina-filme-img {
    width: 250px;
  }
</style>
