<%- include('../partials/head') %> <%- include('../partials/header') %>

<body>
  <ul class="row mx-1">
    <% filmes.forEach((filme)=> { %>
    <li class="col-4">
      <a href="/filmes/<%=filme.id%>">
        <img class="filme-img" src="/images/<%=filme.banner%>" />
        <h2><%= filme.nome %></h2>
        <p><%= filme.ano_lancamento.getFullYear() %></p>
      </a>
    </li>
    <% }) %>
  </ul>
</body>

<%- include('../partials/footer') %>
