<%- include('../partials/head') %> <%- include('../partials/header') %>

<body>
  <ul class="row mx-5">
    <% filmes.forEach((filme)=> { %>
    <li class="col-2">
      <a href="/filmes/<%=filme.id%>" class="text-decoration-none text-light">
        <img class="filme-img" src="/images/<%=filme.banner%>" />
        <h5 class="mt-2"><%= filme.nome %></h5>
        <p><%= filme.ano_lancamento.getFullYear() %></p>
      </a>
    </li>
    <% }) %>
  </ul>
</body>
<%- include('../partials/footer') %>
