<%- include('../partials/head') %>
    <%- include('../partials/header') %>

        <body>
            <ul>
                <% filmes.forEach((filme)=> { %>
                    <li>
                        <a href="/filmes/<%=filme.id%>">
                            <h2>
                                <%= filme.nome %>
                            </h2>
                            <p>
                                <%= filme.ano_lancamento %>
                            </p>
                        </a>
                    </li>
                    <hr />
                    <% }) %>
            </ul>
        </body>
        <%- include('../partials/footer') %>